##Options +FollowSymLinks
##RewriteEngine On

##RewriteRule ^([a-zA-Z]*)$ index.php?variable=$1

#RewriteRule ^([a-zA-Z]*/[a-zA-Z]*)$ index.php?variable=$1&variable2=$2 [L,QSA]

#RewriteRule region([a-zA-Z]*)$ region?variable3=$1

#^([a-z]{2})/([^/]+)/?$ /index.php?page=$2&lang=$1

#RewriteRule ^category/(.*)/([0-9]+) index.php?p=/category/$1&pn=$2 [L]

#RewriteRule ^([^/]+)(/([^/]+))?$ index.php?skill=$1&page=$3 [L]